.navbar{
  background-color:#e9a9a9;
}

.nav-link,.nav-brand{
  color:#c0fefc
  cursor:pointer;
}

.nav-link{
  margin-right: 1em;
}

.navbar-brand{
  margin-left: 1em;
}
.navbar-toggler{
  background-color: #77acf1;
  margin-right: 5%
}
.navbar-collapse{
    margin-left: 1em;
}

.bg{
  width: 100%;
  height: 100%;
}

/*carousel*/
.carousel
{
  margin-left: 5%;
  margin-right:5%;
  width: 90%;

} 
.carousel img{
  width: 95%;
  height: 500px;
}
/*flex cards*/

.d-flex{
  margin-left: 10%;
}
.d-flex img{
  padding:10%;
  width: 250px;
  height: 350px;
}
.p-2{
  background-color: rgb(192, 192, 226);
  margin: 10px;
}
.p-2 button
{
  margin-left:30px;
  background-color:rgb(0, 115, 255);
  color: #c0fefc;
  width: 200;

}
/*footer*/
footer{
  text-align:center;
  background: linear-gradient(to right,yellow 0%,rgb(105, 105, 196) 100%);
  bottom: 0%;
  height: 40px;
}
#name{
  text-align: right;
}